/****************
*     HEADER    *
*****************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: 1px solid;
    margin: 0;
    font-weight: bold;
    font-size: 1.6em;
}

/****************
*     CONTENT    *
*****************/

body {
    -webkit-user-select: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.content {
    position: fixed;
    overflow-y: auto;
    top: 51px;
    left: 0;
    right: 0;
    bottom: 0;
}

/****************
*     TOGGLE    *
*****************/

.tgl {
    border-radius: 2px;
    position: relative;
    height: 25px;
    width: 65px;
    border: 1px solid #000;
    color: #fff;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.tgl label {
    margin: 0 !important;
}

.tgl .tgl-btn {
    font-weight: normal;
    position: absolute;
    left: -3px;
    display: inline-block !important;
    overflow: hidden;
    color: #fff;
    width: 150px !important;
    -webkit-transition: left 400ms, left 400ms, -webkit-transform 400ms;
    transition: left 400ms, left 400ms, transform 400ms;
}

.tgl .tgl-btn div {
    height: 25px;
    width: 57px;
    line-height: 25px;
    text-align: center;
    float: left;
}

.tgl .tgl-btn .tgl-opt.primary,
.tgl .tgl-btn .tgl-opt.secondary {
    text-shadow: none;
}

.tgl .tgl-btn .separator {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    width: 10px;
    background: #fff;
}

.tgl .tgl-btn.tgl-off {
    left: -58px;
}

.tgl .tgl-switch {
    display: none;
}

/****************
*     ALERT     *
*****************/

.alert {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-top: 1px solid #666;
    color: #666;
    text-align: center;
    -webkit-transition: bottom 300ms;
    transition: bottom 300ms;
}

.alert-warning {
    background: #fcf8e3;
}

.alert-info {
    background: #d9edf7;
}

.alert-success {
    background: #dff0d8;
}

.alert-confirm div {
    padding: .5em;
    width: 35%;
}
.alert-confirm .right {
    float: right;
}

.alert-hidden {
    bottom: -50px;
    -webkit-transition: bottom 300ms;
    transition: bottom 300ms;
}

.alert-x {
    color: black;
    opacity: .6;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: .7em;
}

/****************
*    RESULTS    *
*****************/
.results {
    margin-top:5%;
}

.results table{
    width: 100%;
}

.results > table.primary {
    border: 1px solid;
}

.result-row {
    -webkit-transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
    cursor: default;
}

.result-row td:nth-child(1),
.results > table thead td:nth-child(1) {
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60%;
}
.result-row td:nth-child(2),
.results > table thead td:nth-child(2) {
    width: 40%;
}
.result-row td:nth-child(3),
.results > table thead td:nth-child(3) {
    text-align:center;
    width: 5%;
}
.result-row td:nth-child(4),
.results > table thead td:nth-child(4) {
    text-align:center;
    width: 5%;
}

.pagination {
    width: 100%;
    margin-top: 0 !important;
    border: 1px solid #cbcbcb;
    border-top: none;
}
.pagination td {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    text-align: center;
}

.pagination .page-selected {
    text-decoration: underline;
}

/****************
*     COMMON    *
*****************/

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
.loading{
    animation:spin 800ms linear infinite;
    width:150px;
    display: block;
    margin: 0 auto;
    clear: both;
}

.home,.settings {
    max-width: 500px;
    padding: .7em;
    margin: 0 auto;
}

/****************
*      FORM     *
*****************/
.center-form .pure-controls .btn.primary {
    float: right;
}

.form-control {
    width: 100%;
}

div.form-control {
    vertical-align: top;
    display: inline-block;
}

div.form-control > table {
    width: 100%;
}

.btn {
    border: 1px solid;
    text-shadow: none !important;
    color: #fff;
    padding: .6em 1em;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

/****************
*    H:520px;   *
*****************/

@media screen and (max-height: 520px) {
    .menu .logo {
        display: none;
    }
}
/****************
*    w:480px;   *
*****************/

@media screen and (min-width: 480px) {
    .form-control {
        width: 60%;
    }
    .center-form .pure-controls .btn.primary {
        float: none;
    }
    .center-form .pure-controls .btn {
        margin: 0 1em !important;
    }
}
