/****************
*     HEADER    *
*****************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #F0592B;
    border-bottom: 1px solid #B54132;
    color: #fff;
    text-shadow: -1px 0 #B54132, 0 1px #B54132, 1px 0 #B54132, 0 -1px #B54132;
    margin: 0;
    font-weight: bold;
    font-size: 1.5em;
}

/****************
*     CONTENT    *
*****************/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /* font-size: 14px; */
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.content {
    position: fixed;
    overflow-y: auto;
    top: 46px;
    left: 0;
    right: 0;
    bottom: 0;
}

/****************
*     TOGGLE    *
*****************/

.tgl {
    border-radius: 2px;
    position: relative;
    height: 25px;
    width: 65px;
    border: 1px solid #000;
    color: #fff;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.tgl label {
    margin: 0 !important;
}

.tgl .tgl-btn {
    font-weight: normal;
    position: absolute;
    left: -3px;
    display: inline-block !important;
    overflow: hidden;
    color: #fff;
    width: 150px !important;
    -webkit-transition: left .5s, left .5s, -webkit-transform .5s;
    transition: left .5s, left .5s, transform .5ss;
}

.tgl .tgl-btn div {
    height: 25px;
    width: 55px;
    line-height: 25px;
    text-align: center;
    float: left;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.tgl .tgl-btn .tgl-opt:first-child {
    background: #0BB287;
    border-color: #148264;
}

.tgl .tgl-btn .separator {
    width: 10px;
    background: #fff;
}

.tgl .tgl-btn .tgl-opt:nth-child(3) {
    background: #F0592B;
    border-color: #B54132;
}

.tgl .tgl-btn.tgl-off {
    left: -58px;
}

.tgl .tgl-switch {
    display: none;
}

/****************
*     COMMON    *
*****************/

.alert {
    position:fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    border-top: 1px solid #666;
    color: #666;
    text-align: center;
    -webkit-transition: bottom 300ms;
    transition: bottom 300ms;
}

.alert-warning {
    background: #fcf8e3;
}

.alert-info {
    background: #d9edf7;
}

.alert-success {
    background: #dff0d8;
}

.alert-hidden {
    bottom: -50px;
    -webkit-transition: bottom 300ms;
    transition: bottom 300ms;
}

.alert-x {
    color: black;
    opacity: .6;
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: .7em;
}

.results table {
    margin-top: 5%;
    width: 100%;
}

.pagination td {
    color: #B54132;
}

.pagination td:hover {
    cursor: pointer;
    text-decoration: underline;
}

.home {
    max-width: 500px;
    margin: .7em;
}

/****************
*      FORM     *
*****************/
.center-form .pure-controls .btn-primary {
    float: right;
}

.form-control {
    width: 100%;
}

div.form-control {
    vertical-align: top;
    display: inline-block;
}

div.form-control > table {
    width: 100%;
}

.btn, .btn-primary {
    background: #0BB287;
    border: 1px solid #148264;
    color: #fff;
    padding: .6em 1em;
}

.btn-primary {
    color: #fff;
    background: #F0592B;
    border: 1px solid #B54132;
}

/****************
*    H:520px;   *
*****************/

@media screen and (max-height: 520px) {
    .menu .logo {
        display: none;
    }
}
/****************
*    w:480px;   *
*****************/

@media screen and (min-width: 480px) {
    .form-control {
        width: 50%;
    
        /* float: right; */
}
    .center-form .pure-controls .btn-primary {
        float: none;
    }
    .center-form .pure-controls .btn-primary,
    .center-form .pure-controls .btn {
        margin: 0 1em;
    }
}
